.temple-details {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.temple-details:hover {
    transform: scale(1.03);
}

.temple-details-item {
    transition: all 0.3s ease-in-out;
}

.temple-details-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.temple-details-img {
    height: 300px;
    object-fit: cover;
}
